{% extends 'base.html' %}
{% block content %}
<div class="content">
    <p style="font-size:420%; text-align:center;">Nuestro Top 3 de productos</p>
     <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">TOP1</a>
                        </h4>
                        <h5>20.000</h5>
                        <p class="card-text">Descripción TOP 1</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
         <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">TOP2</a>
                        </h4>
                        <h5>20.000</h5>
                        <p class="card-text">Descripción TOP 2</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
         <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">TOP3</a>
                        </h4>
                        <h5>20.000</h5>
                        <p class="card-text">Descripción TOP3</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
     </div>
</div>

<div class="content">
      <h2>Catologo completo</h2>
     <div class="row">
         {% for producto in catalogo_list %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{producto.nombre}}</a>
                        </h4>
                        <h5>${{producto.precio}}</h5>
                        <p class="card-text">{{producto.descripcion}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
         {% endfor %}
     </div>
</div>

{% endblock %}